<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% include inc_header.html %}
</head>
<body>
    <div id="wrapper">
		{% include inc_nav.html %}
		<!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
		{% module Menu(userinfo) %}
		</nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">仪表盘</h1>
                        <h1 class="page-subhead-line">php是世界上最好的语言，但cms不是php开发的. </h1>

                    </div>
                </div>
                <div class="row">
				    <div class="col-md-12">
						<div class="alert alert-info">
						错误代码{{code}}.<br/>错误信息:{{errmsg}}
																																			                          </div>
					</div>
				</div>


            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->

	{% include inc_footer.html %}
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="/static/assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="/static/assets/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="/static/assets/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
	<script src="/static/assets/js/custom.js"></script>

</body>
</html>

